.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.box {
  border: 1px solid #ccc;
  padding: 20px;
  width: calc(33.33% - 40px);
  position: relative;
}

.item{
 position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #aaa;
  padding: 5px 10px;
}
.item.chicken {
  background-color: #FFD700; /* Yellow */
}

.item.sushi {
  background-color: #00FF00; /* Green */
}

.item.beef {
  background-color: #FF4500; /* Orange/Red */
}

h1{
  text-align: center;
}

/* Media Query for screens with width <= 1200px */
@media (min-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Media Query for screens with width <= 997px */
@media (min-width: 960px) and (max-width: 1199px) {
  .box {
    padding: 10px;
  }

  .item {
    top: 5px;
    right: 5px;
  }
}
